
.container {
  width: 95% !important;
}

.title{
  background-color: chocolate;
  padding: 1%;
  margin: 1%;
  text-align: center;
  border-radius: 2%;
  font-size: 3rem;
}

.sub-title{
  background-color: rgb(210, 162, 30);
  padding: 1%;
  margin: 1%;
  text-align: center;
  border-radius: 2%;
  font-size: 2rem;
}